* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grostek', sans-serif;
}

/* Styling header */
h1{
    text-align: start;
}

a, button{
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgb(122, 172, 215);
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1px;
    width: 100%;
}

/* .logo{
    cursor: pointer;
} */

nav{
    order: 1;
}

.nav__links{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links a{
    transition: all 0.3s ease 0s;
}

.nav__links a:hover{
    color: blueviolet;
}

button{
    padding: 9px 25px;
    background-color: beige;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: center;
}
button:hover{
    background-color: lightblue;
}

/*dashboard*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    background: fixed #b2e013;
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto auto; 
    grid-template-columns: auto 100px auto; 
    grid-template-areas: 
      "header1 header1 content"
      "sidebar sidebar content"
      "sidebar1 sidebar1 content";
    
    
}

@media (min-width: 768px) {
    .header1{
    grid-area: header1;
    background-color: hsl(0, 99%, 99%);
    margin: 5px;
    padding: 5px;
    height: 120px;
}
}

@media (min-width: 768px) {
    .content{
    grid-area: content;
    background-color: hsl(0, 99%, 99%);
    margin: 5px;
    padding: 5px;
    height: 100%;
}
}

@media (min-width: 768px){
    .sidebar {
    grid-area: sidebar;
    background-color: hsl(0, 99%, 99%);
    margin:5px;
    padding:5px;
    height: 90%;
}
}

@media (min-width: 768px) {
    .sidebar1 {
    grid-area: sidebar1;
    background-color: hsl(0, 99%, 99%);
    margin:5px;
    padding:5px;
    height: 100%;
}
}

.header1 figure {
    display: inline-block; /* Menjadikan figure berdampingan */
    margin-right: 20px; /* Memberi jarak antara setiap figure */
  }

.header1 figcaption {
    display: inline-block; /* Menjadikan caption berdampingan */
    vertical-align: top; /* Menjadikan caption sejajar dengan bagian atas gambar */
    margin-left: 10px; /* Memberi jarak antara gambar dan caption */
  }

.dashimg {
    width: 70px;
    height: 100px;
}

.big-number {
    font-size: 30px;
    text-align: center;

}

footer {
    position: fixed; /* Tetapkan posisi footer */
    bottom: 0; /* Tempatkan di bagian bawah */
    left: 0; /* Jaga agar tetap di sisi kiri */
    width: 100%; /* Lebar footer menyesuaikan lebar layar */
    background-color: #3559e0;
    color: #fff;
    padding: 20px;
    text-align: center;
}
