* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

/* Styling header */
header {
    background: #3559e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px 20px;
}

.logo {
    cursor: pointer;
}

.navbar {
    display: flex;
}

.navbar a, .navbar button {
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar button {
    background: rgb(52, 130, 227);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.navbar button:hover {
    background: rgb(88, 162, 227);
}

/* Main Content */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    background: radial-gradient(#ffff, #b2e01e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

form h2 {
    text-align: center;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

#notification {
    text-align: center;
    margin-top: 20px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Button "Back to Home" */
button {
    margin-top: 20px;
    background: rgb(52, 130, 227);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 20px;
}

button:hover {
    background: rgb(88, 162, 227);
}
