body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(229, 255, 255);
}

/* Styling header */
h1{
    text-align: start;
}

li, a, button{
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgb(122, 172, 215);
    text-decoration: none;
    padding: 10px;
}

header{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

/* .logo{
    cursor: pointer;
} */

nav{
    order: 1;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: blueviolet;
}

.cta{
    order: 2;
}

button{
    padding: 9px 25px;
    background-color: beige;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: lightblue;
}

/* Styling main content */
h2{
    text-align: center;
}
main{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
.gview-container{
    background: -o-linear-gradient(blueviolet, green);
    padding: 15px 9%;
    padding-bottom: 100px;
}

.gview-container .heading{
    text-align: center;
    padding-bottom: 15px;
    color: rgb(5, 4, 1);
    text-shadow: 0 5px 10px rgba(0,0,0,.2 green, blue, alpha);
    font-size: 50px;
}

.gview .gview-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(270px,1fr));
    gap: 15px;
}

.bquestion-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(270px,1fr));
    gap: 15px;
}

.gview .gview-container .bquestion-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2 green, blue, alpha);
    border-radius: 5px;
    background: #dd3030;
    text-align: center;
    padding: 30px 20px;
}

.bquestion-container {
    background: -o-linear-gradient(blueviolet, green);
    padding: 15px 9%;
    padding-bottom: 100px;
}


footer{
    background-color: black;
    color: #fff;
    padding: 20px;
}